.process-container {
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: "Mulish", serif;
  position: relative;
  background-position: center;
}

.overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: auto;
}

.overlay-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 330px;
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.process-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  margin-top: 5%;
  font-weight: bold;
}

.process-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  padding: 20px;
  line-height: 1.6;
  max-width: 500px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  position: relative;
  padding: 20px 5%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  min-height: 300px;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
  color: black;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: -0px;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(255, 255, 0, 0.3);
}

.box-icon {
  color: black;
  width: 40px;
  height: auto;
}

.box-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  padding: 10px;
}

.box-description {
  font-size: 1rem;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .process-container {
    height: auto;
  }

  .process-title {
    font-size: 2rem;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    padding: 30px;
  }

  .box {
    width: 90%;
    background-color: white;
    position: relative;
    z-index: 2;
  }

  .line {
    width: 4px;
    height: calc(80% - 100px);
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 20%;
  }

  .icon-circle {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .boxes {
    padding: 10px;
  }
}
